<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>blomo</title>
  <link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../js/main.js"></script>
</head>
<body>

  <div id="header"></div>

  <div class="container">


    <div id="error">
      <h1>404</h1>
      <h2>Page not found</h2>

      <div>
        <button type="submit" id="tryAgain">try again?</button>
      </div>
    </div>      
    

  </div>
</body>

</html>
