<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>blomo</title>
  <link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../js/main.js"></script>
</head>
<body>

  <div id="header"></div>

  <div class="container">

    

    <div id = "inputForm">
      
      <h1>blomo</h1>
      <form name="blomo-form" method="POST">
        <div class="instruction">Turn</div><br>
        <div class="input-text"><label><input type="text" id="long-URL" placeholder="paste url to blomo it"></label></div><br>
        <div class="instruction">into</div><br>
        <div class="input-text"><label><input type="text"  id="short-URL" placeholder="desired URL (optional)"></label></div>

        <div>
          <button type="submit" id="generateBlomo" value="submit">blomo my URL!</button>
        </div>
      </form>

    </div>



    

  </div>
</body>

</html>
