html {
	color: rgba(0, 0, 0, 0.8);
}

body {
	margin: auto;
	position: relative;
}

.container {
	text-align: center;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, 50%);
}

.instruction, .input-text {
	display: inline-block;
	position: relative;
}

