html {
	color: rgba(0, 0, 0, 0.8);
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto;
	position: relative;
	background-color: #eeeeee;
	text-align: center;
	height: 100%;
	width: 100%;
}

#header {
	background-color: #2BBBD7;
	width: 100%;
	height: 35%;
	position: fixed;
	z-index: -1;

}

.container {
	width: 300px;
	height: 400px;
	border: 1px solid #e0e0e0;
	background-color: #fafafa;
	text-align: center;
  	display: block;
  	
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}


h1 {
	color: #F17E00;
	font-size: 60px;
	font-weight: 300;
	margin-bottom: 25px;
	margin-top: 25px;
}

h2 {
	color: #F17E00;
	font-size: 45px;
	font-weight: 300;
	margin-bottom: 25px;
	margin-top: 25px;
	line-height: 1;
}

.instruction, .input-text, .shortenedURL {
	display: inline-block;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #757575;
	font-size: 25px;
	font-weight: 300;
}

input[type="text"] {
	width: 200px;
	height: 20px;
	background-color: #fafafa;
	border: 0px;
	border-bottom: 1px solid #757575;
	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	color: #757575;

}

button[type="submit"]  {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	width: 160px;
	font-family: 'Source Sans Pro';
	height: 40px;
	background-color: #52BD1E;
	border: 1px solid #52BD1E;

}

#confirmation {
	margin-top: 40px;	
}

button#blomoAgain {
	width: 220px;
}

button#tryAgain {
	width: 120px;
}



