html {
	color: rgba(0, 0, 0, 0.8);
}

body {
	margin-right: auto;
	margin-left: auto;
	vertical-align: center;
	position: relative;
}

#container {
	text-align: center;
	position: absolute;
	top: 35%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.instruction, .input-text {
	display: inline-block;
	position: relative;
}

